<!-- <div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Content to render when condition is true.</ng-template>
<ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

<!-- <app-login></app-login> -->

<!-- <div *ngIf="getAuthResponse(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Show home page </ng-template>
<ng-template #elseBlock>
  <app-login></app-login>
</ng-template> -->

<!-- {{getAuthResponse()}} -->
<app-login></app-login>